@{
    ViewData["Title"] = "Home Page";
}
<div class="homePageBackground">
    <div class="text-center">
        <h1 class="display-4 hover-effect" style="font-family:'Times New Roman'">Cat</h1>
        <a asp-controller="Accounts" asp-action="Login" style="font-family:'Times New Roman'" class="hover-effect">Log in</a><br />
        <img src="~/lib/Img/pinkMeow.jpg" />
    </div>
    </div>
</div>

