@{
    ViewData["Title"] = "Home Page";
}
<div class="homePageBackground">
    <div class="text-center">
        <h1 class="display-4 hover-effect" style="font-family:'Chinese Rocks'">CEDAR CREEK</h1>
        <a asp-controller="Accounts" asp-action="Login" style="font-family:'Chinese Rocks'" class="hover-effect">Log in</a>
        </div>
    </div>
</div>

