<h3 class="text-danger">
    Your account is locked <br />
    I hate you <br />
    You're disgusting <br />
    I want to kill you <br />
    Give me 300 dollars <br />
    or u can try to reset ur <a asp-action="ForgotPassword">password</a>
</h3>