@model Cat.Models.Profiles.ProfileRegisterViewModel

<div class="gTZRG isCommonBlue">
    <h1> Customize your profile: </h1>
</div>

<div class="row">
    <div class="col-md-12 gTZRG">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger">

                <input type="hidden" asp-for="ApplicationUserID" />
                <input type="hidden" asp-for="HunterCredits" />
                <input type="hidden" asp-for="Victories" />
                <input type="hidden" asp-for="MyBuilding" />
                <input type="hidden" asp-for="CurrentStatus" />
                <input type="hidden" asp-for="ProfileType" />

                <div class="form-group">
                    <label asp-for="ScreenName"></label>
                    <input asp-for="ScreenName" class="form-control"/>
                    <span asp-validation-for="ScreenName" class="text-danger"></span>
                </div>

                <button type="submit">
                    <a id="gCbuttonText" viewBox="0 0 200 50"
                    @* asp-controller="PlayerProfiles" asp-action="NewProfile" *@>
                        <svg id="indexButton" class="gCbuttonL1">
                            <rect class="svgButtonMainStyle"></rect>
                            <text x="10" y="21" class="svgButtonMainTextStyle gTZRG">This is me</text>
                            <polygon class="svgButtonMainTriangleStyle" points='0,0 0,13 13,0'></polygon>
                            <polygon class="svgButtonMainTriangleStyle" points='130,30 130,17 117,30'></polygon>
                        </svg>
                    </a>
                </button>

            </div>
        </form>
    </div>
</div>