@using Cat.Core.Domain
@model Cat.Models.Kittys.KittyCreateViewModel

<div>
    <form method="post" enctype="multipart/form-data">
        @*
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="UpdatedAt" type="hidden" />
        <input asp-for="CharacterXP" value="0" type="hidden" />
        <input asp-for="CharacterLevel" value="0" type="hidden" />
        <input asp-for="CharacterXPNextLevel" value="100" type="hidden" />
        <input asp-for="CharacterMaxHealth" value="100" type="hidden" />
        <input asp-for="CharacterHealth" value="100" type="hidden" />
        <input asp-for="@Model.CharacterStatus" value="Healthy" type="hidden" />
        <input asp-for="CharacterCreationTime" type="hidden" />
        *@


        <div class="form-group-row">
            <label asp-for="KittyName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="KittyName" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="KittyType" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="KittyType" asp-items="Html.GetEnumSelectList<KittyType>()">
                    <option value="">Select kittys Class</option>
                </select>
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="FoodName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="FoodName" class="form-control" />
            </div>
        </div>
        <div class="form-group-row">
            <label asp-for="FoodPower" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="FoodPower" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="SpecialFoodName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="SpecialFoodName" class="form-control" />
            </div>
        </div>
        <div class="form-group-row">
            <label asp-for="SpecialFood" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="SpecialFood" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="Files" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
               <div class="custom-file">
                   <input class="form-control custom-file-input" 
                   asp-for="Files"
                   multiple type="file"
                   />
                   <label class="custom-file-label">Choose kitty Sprite</label>
               </div>
            </div>
        </div>
        @{
            var breakpoint = "";
        }
        <input asp-action="create" asp-controller="Kittys" type="submit"
        class="btn btn-primary form-text" value="Create Character"></input>

        <a asp-action="index" class="btn btn-primary">Cancel</a>

    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function()
        {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-input');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + 'files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
}