html {
    font-size: 16px;
    
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
.btn, .btn-link {
    background-color: #D16D7D;
    background: linear-gradient(to right, #F7C8D1, #FFD6D6, #FBD3E0);
}
.btn:hover {
    background-color: #e68a99;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

body {
    margin-bottom: 60px;
    background-color: #F7C8D1;
    font-family: 'Times New Roman', Times, serif;
    
}

.navbar {
    background-color: #D16D7D;
}

.cc{
    text-align: center;
}




